.App {
    text-align: center;
}

.App-header {
    background-color: #cfd8ea;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(24px + 2vmin);
    color: white;
}
